name: .NET CI Build
permissions:
  contents: read

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    env:
      BUILD_CONFIGURATION: Debug
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Setup .NET 10
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '10.0.x'
      - name: "Install tools"
        uses: taiki-e/install-action@v2
        with:
          tool: just@1.43.0,git-cliff@2.10.1
      - name: Test
        run: just test
